.subversion_diff {
   /* white-space: pre; wrap: auto;  */
    white-space: -moz-pre-wrap;  /* Mozilla, supported since 1999 */
    white-space: -pre-wrap;      /* Opera 4 - 6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    white-space: pre-wrap;       /* CSS3 - Text module (Candidate Recommendation)
http://www.w3.org/TR/css3-text/#white-space */
    word-wrap: break-word;       /* IE 5.5+ */
}
.blankline { background-color: grey; }
.newline { color: black; background-color: green; }
.deletedline { color: black; background-color: red;}
.changedline { color: black; background-color: yellow;}
.regularline { color: black; }
